*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/
launcher/build/generated/ap_generated_sources/
launcher/build/generated/res/
launcher/build/intermediates/aar_metadata_check/
launcher/build/intermediates/data_binding_layout_info_type_merge/
launcher/build/intermediates/duplicate_classes_check/
launcher/build/intermediates/external_libs_dex_archive/
launcher/build/intermediates/external_libs_dex_archive_with_artifact_transforms/
launcher/build/intermediates/incremental/mergeDebugResources/
launcher/build/intermediates/incremental/processDebugResources/
launcher/build/intermediates/merged_jni_libs/
launcher/build/intermediates/merged_shaders/
launcher/build/intermediates/mixed_scope_dex_archive/
launcher/build/intermediates/sub_project_dex_archive/
launcher/build/intermediates/validate_signing_config/
unityLibrary/build/generated/ap_generated_sources/
unityLibrary/build/generated/res/
unityLibrary/build/intermediates/compiled_local_resources/
unityLibrary/build/intermediates/data_binding_layout_info_type_package/
unityLibrary/build/intermediates/incremental/debug-mergeNativeLibs/
unityLibrary/build/intermediates/incremental/packageDebugResources/
unityLibrary/build/intermediates/merged_shaders/
unityLibrary/build/intermediates/public_res/
